
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100;200;300;400;500;600;700;800;900 & display=swap');

#contender{
    width: 100%;
    height: 98vh;
   
    
   
}
#pacotiss{
    display: flex;
    justify-content: center;
    height:20%;
    width: 100%;
   
    align-items: center;
}
#vh{
    width:98% ;
    height:60vh ;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
   

}
    

.carrosel {
    width:90% ;
    height:70vh;
    border-radius: 11%;
   
}






#pagamento{
    background-color: rgba(45, 144, 237, 0.130);
    width:50% ;
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 11%;
    padding-top: 4%;

    
}
 


#imagens {
    width:70%;
    height: 20vh;
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin: 5% auto 0px auto;
 }

 .img{
    width: 20%;
    height: 10vh;
 }

#aa {
    width: 50%;
    height:20vh ;
    display: flex;
    align-items: center;
    padding-top: 2% ;
    
   
   flex-direction: column;
   margin-top: 1%;

    
}
 .texto {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    
 }

 .desconto {
    font-family:'Poppins', sans-serif; 
    font-size: 19px;
 }

 #doze{
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 39px;
 }

 .vezes{
    font-family: 'Poppins', sans-serif;
    font-weight: 549;
    font-size: 27px;
 }

#pacotes{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;

}

#conosco{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

#bb{
    
    height: 100%;
    width: 70vh;
    text-align: center;
    margin-top: 6%;
}
   
#carouselExampleCaptions{
    width: 60%;
    padding-left: 2%;
  
}

#footer{
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
   
    
}

#faleconosco {
    width: 94%;
    height: 98vh;
    background-color: rgba(45, 144, 237, 0.130);
    border-radius: 5%;
   
}

#fale{
    width:100% ;
    height:15vh ;
    
    justify-content: center;
    display: flex;
    margin-top: 2%;
}


#dois {
    width:29% ;
    height:70vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

#um{
   
    width: 29%;
    height:70vh ;
}


 #tres{ 
    width:100% ;
    height:70vh ;
    
    display: flex;
    justify-content: center;
    
    justify-content: space-evenly;
  
 }

 .IMG {
    width: 100%;
    height: 24vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

 }
 .IMAGENS {
    width:19% ;
    height:10vh ;
    display: flex;
    align-items: center;
  
 }

 .IMAGENSDOIS{
    width:18% ;
    height:10vh ;
    display: flex;
    align-items: center;
 }

 #aviao {
    width:80% ;
    height:13vh ;
    
 }

#aviaozinho{
    border: 2px solid black;
    border-radius: 60px;
    width: 28%;
    
    display: flex;
    justify-content: center;
}
  
#rodape {
    background-color: #2d90edcf;
    margin-top: 1%;
    text-align: center;
    width: 101%;
    height: 4vh;
}
    
footer {
    width: 98vw;
   
}

.hr {
    background-color: black;

}

    