*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}


#LOGO {
        width: 33%;
        height: 12vh;
        display: flex;  
      
        margin-left: 20vh;
      
}


#logo {
        width: 200px;
        height: 70px;
        
}


#Azul {

        background-color:#2d90ed89;
        width: 45%;
        height: 50px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
       

}


#BlocoAzul{
       
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family :'Poppins', sans-serif ;
        justify-content: flex-end;
}


.ImagemFM {

        width: 80%;
        height: 90vh;
        display: flex;
      
        opacity: 0.6;
        padding: 50px;
        background-color: black;
        
       
}


#Avião {
        display: flex;
        padding: 15px;
}


#Escrita {
        width: 15%;
        height: 15px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
}


#container {
        width: 100%;
        height: 12vh;
        display: flex;
}


.text {
        width: 50%;
        justify-content: ;
        align-items: center;
        display: flex;
        position: absolute;
        font-family: 'Poppins', sans-serif;
        padding: 40px;
        
}

.text2{
        display: flex;
}


h2{

       display: flex;
       justify-content: center;
       align-items: center;
       width: 50%;
       height: 10vh;
     
}
